@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  color: #333333;
}

.navigation-list,
.advantages-list,
.offers-list,
.socials-list,
.breadcrumbs-list,
.display-list,
.hotel-cards,
.pagination {
  list-style: none;
  padding: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

/* Хедер */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.navigation-link-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.navigation-link.button {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;
}

.button-icon-counter {
  background-color: #7DB54F;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
}

/* Герой */

.hero-index {
  background: bottom url("../images/icons/divider.svg"),
  top url("../images/index-background.jpeg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-color: #DDEAF3;
}

.logo-sedona-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Преимущества */

.advantages-text-bold {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages-description {
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.advantages-text {
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
}

.advantages-item.dark {
  color: #ffffff;
  background-color: #82B3D3;
}

.dark .advantages-text {
  color: #ffffff;
}

.advantages-item.light {
  color: inherit;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.medium {
  color: inherit;
  background-color: rgba(131, 179, 211, 0.2);
}

/* Предложения */

.offers-text-bold {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
}

.offers-description {
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.offers-title {
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.offers-text {
  text-align: center;
}

.offers-item.medium {
  color: inherit;
  background-color: rgba(131, 179, 211, 0.2);
}

/* Поиск */

.search-title {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.search-description {
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.search-button {
  font-size: 20px;
  line-height: 1.8;
}

/* Подпишитесь */

.subscribe {
  background-image: url(../images/subscribe-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #82B3D3;
}

.subscribe-title {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-description {
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.field-subscribe {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.3;
  color: rgba(104, 162, 202, 0.3);
}

.subscribe-button {
  font-size: 20px;
  line-height: 1.8;
}

/* Контакты */

.contacts-phone {
  font-size: 40px;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  text-align: center;
}


/* Страница каталога */

/* Блок с фильтрами */
.catalog-hotels {
  background-image: url(../images/filter_background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #DDEAF3;
}

.catalog-title {
  font-size: 60px;
  line-height: 1.3;
  color: #ffffff;
}

.breadcrumbs-icon {
  font-size: 16px;
  line-height: 1.3;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filters-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 1.3;
  color: #ffffff;
}

.filter-item-input.price {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  background-color: #F2F2F2;
  color: #000000;
}

.catalog-filter-item.price {
  color: #A9A9A9;
  font-size: 18px;
  line-height: 1.3;
}

.submit-button {
  background-color: #82b3d3;
}

.reset-button {
  background-color: transparent;
}

/* Результаты поиска */
.results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
}

.sorting-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.17;
}

.hotel-items {
  background-color: #ffffff;
  border-color: #E6E6E6;
}

.hotel-item-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  text-decoration: none;
}

.button-wishlist {
  background-color: #82B3D3;
  color: #ffffff;
}

.button-wishlist-active {
  background-color: #7DB54F;
  color: #ffffff;
}

.button-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  background-color: #F2F2F2;
  color: #333333;
  width: 140px;
  height: 37px;
  border-radius: 4px;
}

/* Пагинация */

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  background-color: #82B3D3;
  color: #ffffff;
  text-decoration: none;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

/* Подписка */

.subscibe-catalog {
  color: #000000;
  background-color: #ffffff;
}

.subscribe-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-catalog-text {
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.subscribe-catalog-button {
  font-size: 20px;
  line-height: 1.8;
  background-color: #82B3D3;
}
